@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
    --black-color: black;
    --main-color: #ffbf00;
    --white-color: white;
    --shadow-color: rgba(0, 0, 0, 0.2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.btn {
    display: inline-block;
    padding: 6px 2rem;
    background: var(--main-color);
    border-radius: 0.6rem;
    font-size: 1rem;
    color: var(--white-color);
    font-weight: 700;
    border: 1px solid transparent;
    transition: 0.5s ease;
}

.btn:hover {
    background: transparent;
    color: var(--main-color);
    border: 1px solid var(--main-color);
}
section {
    scroll-margin-top: 80px;
  }
.heading {
    font-size: 2rem;
    font-weight: 700;
    margin: 3rem 0 2rem;
    text-align: center;
}

span{
    color: var(--main-color);
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 8%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    transition: 0.5s;
}

.header.sticky {
    background: var(--white-color);
    box-shadow: 0.1rem 0.1rem var(--shadow-color);
}

.logo {
    font-size: 25px;
    color: var(--black-color);
    font-weight: bolder;
    cursor: pointer;
}

.navbar {
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--black-color);
}

.navbar a {
    font-size: 13px;
    color: var(--white-color);
    padding: 0;
    position: relative;
}

.navbar a.active::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: var(--main-color);
}

.social-media {
    display: flex;
}

.social-media a {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    font-size: 1.5rem;
    color: var(--white-color);
    margin-left: 10px;
    transition: 0.5s ease;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media a i {
    font-size: 18px;
}

.social-media a:hover {
    background: var(--black-color);
}
.social-media-in {
    display: none;
}

.social-media-in a {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    font-size: 1.5rem;
    color: var(--white-color);
    margin-left: 10px;
    transition: 0.5s ease;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-media-in a i {
    font-size: 18px;
}

.social-media-in a:hover {
    background: var(--black-color);
}

#menu-icon {
    font-size: 3rem;
    color: var(--main-color);
    display: none;
}

@media (max-width: 768px) {
    .logo {
        font-size: 2rem;
    }
    .navbar a {
        font-size: 1.2rem;
        color: black ;
        font-weight: 600;
    }
    .social-media a {
        width: 2.8rem;
        height: 2.8rem;
        font-size: 1.8rem;
    }
}
@media (max-width: 1024px) {
    #menu-icon {
        display: block;
    }
    #nav-menu{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 65px;
        width: 100%;
        left: 0;
        background-color: var(--white-color);
        border-radius: 10px;
        padding: 10px;
        box-shadow: 0 5px 15px rgba(0,0,0,0.1);
        text-align: center;
        color: black;
        gap: 15px;
    }
    .navbar a.active::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -4px;
        width: 10%;
        height: 0.2rem;
        background: var(--main-color);
    }
    .navbar a {
        font-size: 1.2rem;
        color: black ;
        font-weight: 600;
        border-radius: 10px;
        padding: 5px;
    }
    .navbar a.active {
		background-color: #ffe28a;
		border: 0;
        border-radius: 10px;
	}
	.navbar a::before {
		display: none;
	}
    .navbar.showMenu {
        display: flex;
    }
    .social-media.showMenu {
        display: none;
    }
    .social-media{
        display: none;
    }
    .social-media-in{
        display: flex;
        justify-content: center;
    }

}

@media (max-width: 1200px) {
    .header {
        padding: 1.5rem 5%;
    }
    .logo, .social-media {
        margin: 0;
    }
}
